<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="scripts/ansi_up.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

    <script>
      var socket = io.connect("http://localhost:7777");

      var spaceData = function(data) {
        var lines = data.split("<br/>");

        var firstLine = true;

        var spaced = _.map(lines, function(line) {
          var spacing = firstLine ? "=>  " : "    ";
          firstLine = false;

          return spacing + line;
        });

        return spaced.join("<br/>") + "<br/>";
      };

      var colorLines = function(data) {
        return  ansi_up.ansi_to_html(data);
      };

      socket.on("news", function(data) {
        if (data == "[H[J") {
          $(".stdout").empty()
        } else {
          var text = _.compose(spaceData, colorLines)(data);
          $(".stdout").append(text);
        }
      });
    </script>

    <style>
      .console  {
        font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier", monospace;
        color: black;
        white-space: pre;
        border-radius: 5px;
        padding: 10px;
        overflow: hidden;
        background: #333233;
        color: #e8e8d3;
        background-color: #333233;
      };

      .stdout {
        padding-left: 30px;
      };
    </style>
  </head>

  <body>
    <div class="console">
      <div class="stdout">
      </div>
    </div>
  </body>
</html>
